@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  --border: rgb(48, 71, 109);
  --bgi: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  --cardColor: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
main {
  width: 100%;
  height: 100%;
  background-image: var(--bgi);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  max-width: 45%;
  min-height: 40%;
  padding: 20px;
  background-image: var(--cardColor);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.quote {
  margin: 20px 20px 10px 20px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-height: 20vh;
  height: fit-content;
  font-size: xx-large;
  font-family: "Kalam", cursive;
  font-weight: 500;
  font-style: normal;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icon1 {
  position: absolute;
  top: -33px;
  left: 30px;
  font-size: 60px;
  color: rgb(254, 174, 111);
}
.icon2 {
  position: absolute;
  bottom: -33px;
  right: 30px;
  font-size: 60px;
  color: rgb(254, 174, 111);
}
.quote::before,
.quote::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.quote::before {
  left: 0;
  top: 0;
  border-left: 5px solid var(--border);
  border-top: 5px solid var(--border);
}
.quote::after {
  right: 0;
  bottom: 0;
  border-right: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
}

.author {
  flex-grow: 1;
  width: 80%;
  text-align: right;
  font-size: xx-large;
  margin: 20px 20px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.hidden{
  display: none;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .card {
    max-width: 80%;
    min-height: 10vh;
    padding: 10px;
  }
  .quote {
    padding: 10%;
    border-radius: 10px;
    min-height: 10vh;
    font-size: x-large;
  }
  .author {
    width: 90%;
    font-size: x-large;
    margin: 20px 20px;
  }
}
